.nav {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 10%;
  background-color: black;
  border-bottom: 2px solid var(--border-color-primary);
}

.ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ul li:hover {
  color: var(--primary-color-highlight);
}

.activeLink {
  color: var(--primary-color-highlight);
  border-bottom: 2px solid var(--primary-color-highlight);
}

.menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 600px) {
  .hamburger {
    display: block;
    background-color: black;
    border: 0;
  }

  .ul {
    display: none;
  }

  .ulExpanded {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100dvh;
    background-color: rgb(54, 54, 54);
    padding: 0.2rem 1rem;
    list-style-type: none;
    border-bottom: 2px solid var(--border-color-primary);
  }

  .ulExpanded li {
    padding-bottom: 0.2rem;
  }
  .activeLink {
    color: var(--primary-color-highlight);
    border-bottom: 0px solid var(--primary-color-highlight);
  }

  .user {
    display: none;
  }
}
